{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <h1>Latest Posts</h1>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container d-flex justify-content-between align-items-center">
        {% if posts %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% if post.photo %}
                        <div class="container">
                            <img class="border" src="{{ post.photo.url }}" alt="{{ post.title|truncatewords:5 }}"
                                style="width:100%;max-width:400px">
                            </div>
                        {% endif %}
                        <h2 class="card-text">{{ post.title|truncatewords:5 }}</h2>
                        <p class="card-text">{{ post.body|truncatechars_html:200|safe }}</p>
                        <p class="card-text">By {{ post.author }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'post' post.id %}">View</a>
                            </div>
                            <small class="text-muted">{{ post.published_date | naturaltime }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No Blog posts</p>
        {% endif %}
    </div>
</div>
{% endblock %}