{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if posts %}
            {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ post.title|truncatewords:5 }}</strong></p>
                        <p class="card-text">{{ post.body|truncatewords:50 }}</p>
                        <p class="card-text">By{{ post.author }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary" href="#">View</button>
                            </div>
                            <small class="text-muted">{{ post.published_date | naturaltime }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No Blog posts</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}